<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: blue;
            text-align: center;
            color: black;
            border: 0cqmax;
        }
        table{
            background-color: lightblue;
            color:mediumseagreen;

        }
    
    </style>
</head>
<body>
    <center>
        <h1>display_AcessRecord</h1>
        <table border="5px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
                <th>email</th>
            </tr>
                {% for Ao in AcessRecord %}
                <tr>
                    <td>{{ Ao.name }}</td>
                    <td>{{ Ao.date }}</td>
                    <td>{{ Ao.author }}</td>
                    <td>{{Ao.email}}</td>
                </tr>
                {% endfor %}
        </table>
    </center>
</body>
</html>